body {
    background-color: black;
    color: white;
    }
.oferta_tabulada {
    margin: 1cm;
}
.margen_izquierdo {
    float: right;
    margin-left: 1cm;
    margin-right: 2cm;
}
.tamaño_vector {
    height: 10px;
    width: 10px;
}
header {
    background-color: rgba(240, 168, 62, 1);
    margin-right: 2cm;
}
.patita {
    height: 12px;
    width: 12px;
}
section{  
    background-image: url(/Img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
   
}
.posición_de_texto {
    background-color: white;
    color: black;
    font-size: 200%;
}