/************
    Selector {
        propiedad: valor;
        propiedad: valor;
    }
*************/

body {      font-family: 'Times New Roman', Times, serif;

        }
header {
            background-color: rgba(230, 230, 230, 1);
            color: rgba( 0, 86, 119, 1);
            text-align : center;
        }
.titulos {  background-color: rgba(196, 196, 196, 1);
            color: rgba(0, 86, 119, 1);
            font-size: large;
        }
.datos {
        line-height: 200%;
        }
        footer {    background-color: rgba(0, 86, 119, 1);
            color: rgba(255,255,255, 1);
            text-align : center;
        }