body {
    background: #F3F3F3;;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.cabecera {
    background: rgba(28, 209, 176, 1);
    padding: 10px;
}
 h1 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 102, 159, 1);
    padding: 30px ;
    margin: 0px;
}
h2 {
    text-align: center;
}
.caja {
    display: inline-block;
    Background: #E5E5E5;
    width: 300px;
    margin: 50px 50px;
    text-align: left;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.megusta {
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: -270px;
}
.cara {
    border-radius: 50%;
    position: relative;
    top: -50px;
    left: 55px;
}
.ver_más {
    color: rgba(243, 243, 243, 1);
    background-color: rgba(0, 102, 159, 1);
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    text-align: center;
}
footer {
    background: rgba(0, 102, 159, 1);
    padding: 30px ;
    color: rgba(255, 249, 249, 1);
}