body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.cabecera {
    background: rgba(28, 209, 176, 1);
    padding: 10px;
}
 h1 {
    background-color: rgba(0, 102, 159, 1);
    padding: 30px ;
    margin: 0px;
}
.caja1 {
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    margin: 100px 50px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cara1 {
    border-radius: 50%;
    position: relative;
    top: -50px;
}
.ver_más_1 {
    color: rgba(243, 243, 243, 1);
    background-color: rgba(0, 102, 159, 1);
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
.caja2 {
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    margin: 100px 50px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }
.cara2 {
    border-radius: 50%;
    position: relative;
    top: -50px;
}
.ver_más_2 {
    color: rgba(243, 243, 243, 1);
    background-color: rgba(0, 102, 159, 1);
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
.caja3 {
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    margin: 100px 50px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }
.cara3 {
    border-radius: 50%;
    position: relative;
    top: -50px;
}
.ver_más_3 {
    color: rgba(243, 243, 243, 1);
    background-color: rgba(0, 102, 159, 1);
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
footer {
    background: rgba(0, 102, 159, 1);
    padding: 30px ;
    color: rgba(255, 249, 249, 1);
}